#userImages,
#adminImages {
  flex: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

body {
  font-size: large;
}

table,
th,
td,
tr {
  border: lightskyblue 1px solid;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 5px rgba(1, 35, 255, 0.42);
  padding: 10px;
}

table tr:nth-child(even) {
  background-color: #cacbce;
}

table tr:hover {
  background-color: #c7c8cc;
}

td {
  text-align: center;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #142057;
  color: white;
}

main {
  text-align: center;
}

#listBTN {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  margin-bottom: 10px;
}

#deleteEdit {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

#AddUpdate {
  display: grid;
  grid-template-columns: auto;
  gap: 5px;
}

#ADD_EDIT {
  width: 50%;
  padding: 50px;
  box-shadow: 0 0 20px 5px rgba(1, 35, 255, 0.235);
  margin: 0 auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
}

img {
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 1px 20px 10px 5px rgba(1, 35, 255, 0.235);
}

img:hover {
  transform: scale(1.25);
  z-index: 1;
}

#home {
  position: fixed;
  display: grid;
  grid-template-columns: auto auto;
  padding: 5px;
  text-align: center;
  background-color: #000033;
  color: white;
  width: 100%;
  box-shadow: 0 0 20px 5px rgba(1, 35, 255, 0.235);
  padding: 20px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  border-color: #142057;
}

#login {
  width: 80%;
  max-width: 400px;
  padding: 50px;
  box-shadow: 0 0 20px 5px rgba(1, 35, 255, 0.235);
  margin: 0 auto;
  border-radius: 10px;
}

#userDetail {
  width: 30%;
  padding: 50px;
  box-shadow: 0 0 20px 5px rgba(1, 35, 255, 0.235);
  margin: 0 auto;
  border-radius: 10px;
}

#Detail {
  width: 50%;
  padding: 50px;
  box-shadow: 0 0 20px 5px rgba(1, 35, 255, 0.235);
  margin: 0 auto;
  border-radius: 10px;
}

#requests{
  margin-top: 100px;
}

@media (max-width: 768px) {
  #dashBoard {
    padding: 10px;
  }

  #dashBoard img {
    object-fit: cover;
    width: 95%;
  }
  #ADD_EDIT {
    width: 80%;
    padding: 20px;
    grid-template-columns: auto;
  }

  input {
    padding: 6px;
  }
  #Detail {
    width: 70%;
    margin-bottom: 100px;
  }

  #userDetail{
    width: 70%;
    margin-bottom: 100px;
  }
  #requests{
    margin-top: 100px;
  }
}

.footer {
  background-color: #142057;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}

/* icon */

#housing::after {
  font-family: FontAwesome;
  content: "\f015";
  color: #7a7a7a;
  font-size: 50px;
}

#addUser::after {
  font-family: FontAwesome;
  content: "\f067";
  color: #7a7a7a;
  font-size: 50px;
}

#logout::after {
  font-family: FontAwesome;
  content: "\f011";
  color: #7a7a7a;
  font-size: 50px;
}

#loginIcon::after {
  font-family: FontAwesome;
  content: "\f084";
  color: #7a7a7a;
  font-size: 50px;
}

#backArrow::after {
  font-family: FontAwesome;
  content: "\f060"; 
  color: #7a7a7a;
  font-size: 50px;
}